:root {
	--lightness: 85%;
	
	--bg: #fff;
	--secondary-bg: #f2f2f2;
	--tertiary-bg: #e2e2e2;

	--nav-bg: var(--secondary-bg);
	--nav-bg-hover: #ffe;
	--nav-selected-border: #70D6FF;
	
	--text-color: black;
	--deemphasized-color: #777;
	--correct-color: #080;
	--error-color: #900;
	
	--link-color: #00e;
	--visited-color: #551a8b;
	--border-color: #aaa;
	--active-shadow-color: #69f;

	--nav-color: var(--text-color);
	--nav-link-color: var(--text-color);
	--nav-visited-color: var(--text-color);
	--nav-deemphasized-color: var(--deemphasized-color);
	--input-bg: var(--bg);

	--by-author-color: hsla(52, 100%, var(--lightness), 0.5);
	--testsolve-color: hsla(80, 80%, var(--lightness), 0.5);
}

[data-theme="dark"] {
	--lightness: 20%;
	
	--bg: #131516;
	--secondary-bg: #262A2C;
	--tertiary-bg: #393F41;
	
	--nav-bg-hover: #137;
	--nav-selected-border: #EF6F6C;
	--text-color: #ddd;
	--deemphasized-color: #888;
	
	--link-color: #ace;
	--visited-color: #dae;
	
	--input-bg: #1d1d1d;
	--border-color: #555;
	--active-shadow-color: #9cf;
}

/* general */
body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	background-color: var(--bg);
	
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:
		"menu"
		"main";
}
a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--visited-color);
}
input[type="text"], input[type="password"], input[type="email"], textarea {
	background-color: var(--input-bg);
	color: var(--text-color);
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding: 2px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	box-shadow: 0 0 2px var(--active-shadow-color);
}

.small-md p:first-child { margin-top: 0; }
.small-md p:last-child { margin-bottom: 0; }

/* navigation */
nav {
	background-color: var(--nav-bg);
	color: var(--nav-color);
	grid-area: menu;
}
nav a:link {
	color: var(--nav-link-color);
}
nav a:visited {
	color: var(--nav-visited-color);
}

.logo {
	align-self: center;
}
.nav-links {
	display: flex;
	flex-direction: column;
	position: relative;
}
.nav-links a {
	padding: 0.75em;
	text-decoration: none;
	opacity: 0.8;
	transition: 0.2s all;
}
.nav-links a.selected,
.nav-links a:hover {
	background: var(--nav-selected-border);
	color: var(--bg);
	opacity: 1;
}
.menu-button {
	background-color: var(--nav-bg);
	color: var(--nav-color);
	border-width: 0;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.75em;
	font-size: 100%;
}
.menu-button:hover {
	background-color: var(--nav-bg);
	color: var(--nav-color);
	border-width: 0;
	background-color: var(--nav-bg-hover);
}
.nav-menu-collapsed .nav-links a:not(:first-child), .nav-menu-collapsed .nav-countdown, .nav-menu-collapsed .theme {
	display: none;
}
@media screen and (min-width: 36em) {
	body {
		grid-template-columns: minmax(min-content, 10vw) 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "menu main";
		
		height: 100vh;
	}
	nav {
		display: grid;
		grid-template-rows: 1fr auto;
	}
	main {
		
	}
	.nav-menu-collapsed .nav-links a:not(:first-child), .nav-menu-collapsed .nav-countdown, .nav-menu-collapsed .theme {
		display: block;
	}
	.nav-links {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.nav-links a {
		padding: 0.5em 1.5em;
	}
	.menu-button { display: none; }
}
.nav-second {
	display: flex;
	flex-direction: column;
}
.nav-second > div {
	padding: 0.5em 0.75em;
}
.nav-login {
	text-align: right;
}
.countdown {
	color: var(--nav-deemphasized-color);
}
.countdown .time {
	color: var(--nav-color);
	font-weight: bold;
}

a.logout {
	display: block;
	background-color: var(--tertiary-bg);
	color: var(--nav-color) !important;
	padding: 0.5em;
}

@media screen and (min-width: 36em) {
	.nav-second {
		justify-content: space-between;
	}
	.nav-login {
		text-align: center;
	}
}

main {
	grid-area: main;
	padding: 0.75em;
	overflow: auto;
}
h1 { font-size: 140%; font-weight: 700 }
h2 { font-size: 120%; font-weight: 700; }
div.table-wrap {
	max-width: 100%;
	overflow: auto;
}
table.classic {
	border-collapse: collapse;
	overflow-wrap: break-word;
}
table.classic th, table.compact th {
	padding: 0.5em;
	background-color: var(--secondary-bg);
}
table.classic th.small {
    font-size: 85%;
}
table.compact th {
	text-align: left;
	font-weight: normal;
}
table.compact th :first-child { margin-top: 0; }
table.compact tr > td:first-child { padding-left: 2em; }
table.compact th :last-child { margin-bottom: 0; }
td.label-cell {
	max-width: 24em;
}
td.label-cell label {
	font-weight: bold;
}
.help {
	font-size: 85%;
}
.comment-id {
	font-size: 85%; opacity: 50%;
}
table.classic td {
	padding: 0.5em;
	border-top: 1px solid var(--border-color);
	max-width: 30em;
}
.warning {
	font-weight: bold;
}
.warning::before {
	content: "⚠️";
	font-size: 150%;
	margin-right: 0.2em;
}

/* puzzle */
.puzzle-title {
	padding: 0 0.5em;
}
.puzzle-inner {
	padding: 0;
	width: 100%;
}
@media (min-width: 800px) {
	.puzzle-outer {
		display: grid;
		grid-template-columns: 1fr minmax(min-content, 20vw);
		grid-template-rows: auto 1fr;
		grid-template-areas:
			"title sidebar"
			"content sidebar";
	}
	.puzzle-title {
		grid-area: title;
	}
	.puzzle-side {
		grid-area: sidebar;
	}
	.puzzle-main {
		grid-area: content;
	}
}
.puzzle-side {
	background-color: var(--secondary-bg);
	overflow: auto;
}
.puzzle-side p {
	margin: 0;
}
.side-element {
	padding: 0.75em;
}
#change-status {
	background-color: var(--tertiary-bg);
}
table.puzzle-table {
	min-width: 100%;
	border-collapse: collapse;
}
table.puzzle-table th {
	padding: 0.5em;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	text-align: right;
}
table.puzzle-people th {
	width: 10em;
}
table.puzzle-info th {
	width: 7em;
}
table.puzzle-table td {
	padding: 0.5em;
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}
table.puzzle-info td {
	padding: 0 0.5em;
}
table.puzzle-table td:first-child, table.puzzle-table th:first-child {
	padding-left: 0;
}
table.puzzle-table td:last-child, table.puzzle-table th:last-child {
	padding-right: 0;
}
table.puzzle-table td p, table.puzzle-table td pre {
	margin: 0.5em 0;
}
.edit-link {
	font-size: 80%;
	font-weight: normal;
}

/* comments */
blockquote {
	margin: 1em 0;
	border-left: 3px solid var(--border-color);
	padding: 0.5em 1em;
}
blockquote > p:first-child {
	margin-top: 0;
}
blockquote > p:last-child {
	margin-bottom: 0;
}
.date {
	font-size: 80%;
}
.system {
	color: var(--deemphasized-color);
}
.by-author { background-color: var(--by-author-color); }
.testsolve { background-color: var(--testsolve-color); }
.status-change {
	color: var(--deemphasized-color);
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding: 0.25em;
}
.status-change::before {
	content: "→ ";
}
.ghost-button {
	background-color: transparent;
	color: inherit;
	border: 1px dashed var(--border-color);
	border-radius: 3px;
}
.ghost-selected {
	border: 3px double var(--border-color);
	font-weight: bold;
}

/* statistics */
.flex-row {
	display: flex;
}
.vertical-divider {
	width: 50px;
}
/* testsolving */
.testsolve-finish {
    font-size: 120%;
}
.testsolve-finish-correct {
	font-weight: bold;
	border: 0.25em solid var(--correct-color);
	padding: 0.25em;
}
.guess.correct {
	font-weight: bold;
	color: var(--correct-color);
}
.guess.correct::before {
	content: "✅";
}
.guess.incorrect::before {
	content: "❌";
}
.empty {
	color: var(--deemphasized-color);
	font-style: italic;
}

.hidden {
	display: none;
}

.hide-dead:checked + label + input + label + input + label + input + label + input + label + div > table tr.dead {
	display: none;
}
.hide-deferred:checked + label + input + label + input + label + input + label + div > table tr.deferred {
	display: none;
}
.hide-visited:checked + label + input + label + input + label + div > table tr.puzzle-row:not(.unvisited) {
	display: none;
}
.hide-past-solution:checked + label + input + label + div > table tr.past_needs_solution {
	display: none;
}
.show-only-answer:checked + label + div > table tr.puzzle-row:not(.answered) {
	display: none;
}
.unvisited .puzzle-link {
	font-weight: bold;
	position: relative;
}
.unvisited .puzzle-link::before {
	position: absolute;
	left: -0.8em;
	width: 0.6em;
	height: 0.6em;
	border-radius: 0.3em;
	background-color: var(--error-color);
	content: " ";
	display: block;
}
.hide-assignments:checked ~ div > table .assignment-spoiler {
	display: none;
}
.hide-assignments:not(:checked) ~ div > table .assignment-unspoiler {
	display: none;
}
.hide-delete-answer:checked ~ div > table .delete-answer-button {
	display: none;
}
.hide-assignments:not(:checked) ~ div > table .assignment-unspoiler {
	display: none;
}
.hide-test-authored:checked + label + input + label + div > table tr.test-authored {
	display: none;
}
.hide-test-spoiled:checked + label + div > table tr.test-spoiled {
	display: none;
}
.deemph {
	color: var(--deemphasized-color);
	font-size: 80%;
}

.assigned-to-other {
	color: var(--deemphasized-color);
}
.hide-assigned-to-other:checked + label + table tr.assigned-to-other {
	display: none;
}

.markdown-textarea {
	display: inline-block;
	border: 1px solid var(--border-color);
	background-color: var(--input-bg);
	border-radius: 3px;
	padding: 2px;
	padding: 0.5em;
}
.markdown-preview p:first-child { margin-top: 0; }
.markdown-preview p:last-child { margin-bottom: 0; }
.success {
    font-size: 200%;
	color: var(--correct-color);
}

.user-checkbox-select-multiple {
	border: 1px solid var(--border-color);
	background-color: var(--input-bg);
	border-radius: 3px;
	max-height: 20em;
	overflow-y: auto;
	padding: 0.5em;
}
.user-checkbox-select-multiple ul {
	padding-left: 1.5em;
}

/* edit round */
.sure-delete:checked + label + br + input.delete-round-button {
	display: block !important;
}
.delete-round-button {
	display: none;
}

/* spoiled */
.testsessions {
	display: flex;
	flex-direction: column;
}

/* django */
.errorlist {
	color: var(--error-color);
	font-weight: bold;
}
